.projects-main-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 0 10px;
  background: #eff2f7;
  position: relative;
  z-index: 0;
}

.projects-content {
  width: min(100%, 1440px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media only screen and (max-width: 450px) {
    padding: 0 1.5em;
  }
  @media only screen and (min-width: 450px) {
    padding: 0 3em;
  }
  @media only screen and (min-width: 560px) {
    padding: 0 6em;
  }
  @media only screen and (min-width: 1200px) {
    padding: 0 10em;
  }
  @media only screen and (min-width: 1440px) {
    margin: 0 auto;
  }
}

.upper-content-pjt {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h5 {
    color: #0f6fc8;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 2.5em;
    letter-spacing: -1px;
    font-weight: 800;
    line-height: 1.2em;
    color: #232323;
  }
  p {
    width: 100%;
    font-size: 1em;
    color: #616161;
  }
}

#paragraph-pjt {
  margin-top: 7px;
}

.lower-content-pjt {
  width: 100%;
  padding: 10px;
}

.nav-links {
  width: 100%;
  list-style-type: none;
  @media only screen and (min-width: 880px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-link {
  width: 90%;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: #616161;
  @media only screen and (min-width: 880px) {
    text-align: center;
  }
}

.nav-link.active {
  background: #0f6fc8;
  color: white;
}

.nav-link:hover {
  outline: 1px solid #0f6fc8;
  cursor: pointer;
}

/*Tab Content Styling*/

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.tab-pane {
  display: none;
}

.tab-pane > ul {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media only screen and (min-width: 770px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (min-width: 1030px) {
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 30px;
  padding: 40px 0;
  list-style-type: none;
}

.tab-pane.active {
  width: min(100%, 1440px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media only screen and (min-width: 1440px) {
    margin: 0 auto;
  }
}

.tab-pane-card {
  width: 100%;
  height: 24em;
  background: #fff;
  display: flex;
  place-items: center;
  justify-content: center;
  position: relative;
  // border-radius: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &::after {
    position: absolute;
    content: "";
    width: 105%;
    height: 0;
    left: -2.5%;
    bottom: 50%;
    z-index: -1;
    transition: all 0.5s ease;
    border-radius: 0 0 10px 10px;
  }
  &:hover::after {
    bottom: -1em;
    height: 26em;
    background: linear-gradient(to top right, #0f6fc8 85%, #87a4d1);
    border-radius: 10px;
    transform: rotate(180deg);
  }
  &:hover {
    border-radius: 20px;
    transform: scale(105%);
    .tp-card-content {
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
    }
  }
}

.tp-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.img-bg-mockup {
  width: 100%;
  object-fit: cover;
}
